<div class="container-fluid">
    <app-hospital *ngIf="!hospital" (hospital)="hospitalEvent($event)"></app-hospital>
    <app-search *ngIf="hospital" [hospital]="hospital" (resetEmitter)="reset($event)" (query)="searchEvent($event)">
    </app-search>
    <app-results *ngIf="results" [results]="results"></app-results>
    <div *ngIf="searching" class="row search-spinner">
        <div class="col-12 text-center">
            <div class="spinner-border"></div>
        </div>
    </div>

</div>
<footer class="footer">
    <div class="text-center">
        <h5>Notes</h5>
        <p>
            This is a very rough attempt at providing a search option for hospital prices so don't judge too harshly :)
            <br />
            - Pretty sure I messed up the data import... so ignore the strange data.
        </p>
        <p>
            Data was acquired from
            <a href="https://www.dolthub.com/repositories/dolthub/hospital-price-transparency">dolthub.</a>
        </p>
    </div>
</footer>