$color-bg: #39404a;
$color-secondary: #e35866;
$color-main: #bbb;
$color-search: #bbb;
$letter-spacing: 2px;

.container-fluid {
    height: 100vh;
    padding: 0px;
    margin: 0px;
    background-color: $color-bg;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
    & div {
        width: 600px;
    }
}

h1 {
    font-family: "Arvo", sans-serif;
    color: $color-main;
}

h5 {
    font-family: "Arvo", sans-serif;
    color: $color-main;
}

input {
    padding: 0;
    border-radius: 0;
    border: none;
    font-size: 20px;
    color: $color-search;
    background: none;
    letter-spacing: 1px;
    caret-color: $color-secondary;
    font-family: "Arvo", sans-serif;
    padding: 0;
    line-height: 25px;
    &:focus {
        outline: none;
    }
}

button {
    background: none;
    border: none;
}

.form {
    padding: 10px 0;
    padding-right: 0px;
    border: 3px solid $color-main;
}

.bi,
.bi-search {
    color: $color-main;
    font-size: 20px;
    line-height: 25px;
    cursor: pointer;
    font-size: 20px;
}

.bi:hover {
    color: $color-secondary;
}

::-webkit-input-placeholder {
    color: $color-search;
    opacity: 1;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: $color-search;
    opacity: 1;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: $color-search;
    opacity: 1;
}

:-ms-input-placeholder {
    color: $color-search;
    opacity: 1;
}

